html{height: 100%;margin: 0px;border:0px;}

body{
    margin: 0px;
    height: 100%;
}

#main{
    height: 100%;
}


#tag{
    width:200px; 
    height: 100%;
    display: inline-block;  
    float: left;  
}

#tagul{
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    height: 100%;
    display: inline-block;    
}

#contents{
    float: left;
    display: inline-block;    
    height: 100%;
}

#tagul li{
    display: block;
    height: 25px;
    width: 200px;
    text-align: center;
    background-color: cornflowerblue;
    color: white;
}

#tagul li:hover{
    cursor: pointer;
    background-color: cadetblue;
}

.row{
    
}

.title{
    display: inline-block;
}

.content{
    display: inline-block;
}