@mixin transform($deg:0deg){
    transform:rotate($deg);
    -ms-transform:rotate($deg); 	
    -moz-transform:rotate($deg); 	
    -webkit-transform:rotate($deg); 
    -o-transform:rotate($deg); 	
}

@mixin mid($em:6em){position:absolute;top:$em;left:$em;transform-origin:left;}

.language{@include transform(90deg);}
body{margin: 0px;}

$i:5;
$numlist:0 10 10 10 4 2;
$numsum:36;
$sum:0deg;
$deglist:0deg;

$i:1;
@while $i<6{
    $num:nth($numlist,$i);
    $deg:$num*360deg/$numsum;
    $sum:$sum + $deg;
    $root:nth($numlist,$i+1)/$numsum;
    #line-#{$i}{@include transform($sum);padding-left: $root * 10rem+5rem;}
    $i:$i + 1;
    $deglist:append($deglist,$sum);
}

$i:2;
$deglist:append($deglist,360deg);

@while $i<7{
    $num:(nth($deglist,$i+1) + nth($deglist,$i))/2;
    $root:nth($numlist,$i)/$numsum;
    #handle-#{$i - 1}{@include transform($num);font-size:$root*4em;padding-left: $root * 10rem+5rem;}
    $i:$i + 1;
}

#tree{width:100%;}
.handle,.line{@include mid;}
.line{height: 3px;background-color: #aaa;}
#circle{@include mid(3.5em);background-color: green;border-radius: 50%;width: 5rem;height: 5rem;z-index: 1000;}