<!--bootstrap-->
<link rel="stylesheet" href="/plugins/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" href="/plugins/bootstracptable/bootstrap-table.min.css">
<link rel="stylesheet" href="/plugins/bootstrapdatepicker/bootstrap-datepicker-1.3.1.min.css">
<link rel="stylesheet" href="/plugins/sweetalert/sweetalert.css">
<!--bootstrap-->
<script src="/plugins/jquery/jquery-1.11.1.min.js"></script>
<script src="/plugins/bootstrap/js/bootstrap.min.js"></script>
<script src="/plugins/bootstracptable/bootstrap-table.min.js"></script>
<script src="/plugins/bootstracptable/bootstrap-table-zh-CN.min.js"></script>
<script src="/plugins/bootstrapdatepicker/bootstrap-datepicker-1.3.1.min.js"></script>
<script src="/plugins/bootstrapdatepicker/bootstrap-datepicker.zh-CN.min.js"></script>
<script src="/plugins/sweetalert/sweetalert.min.js"></script>
<script src="/plugins/bootbox/bootbox-4.3.0.min.js"></script>
<style>
    .container{width:auto;}
    h1{margin: 0px;}
    body{font:11px/1.8em 'Open Sans', Arial, Tahoma, sans-serif;}
</style>
<div id="user">
    <div id="user-control">
        <span id="logout">退出登录</span>
        <span id="personal">修改密码</span>
        <span id="lesson">选课系统</span>
        <span id="lessonplan">选课计划</span>
    </div>
</div>
<div class="container">
    <div id="toolbar">
        <div class="row">
            <div id="select-button" class="btn btn-primary">我要选课</div>
        </div>
    </div>
    <table id="lesson_table"
           class="table table-striped"
           data-toggle="table"
           data-toolbar="#toolbar"
           data-search="true"
           data-show-refresh="true"
           data-show-toggle="true"
           data-show-columns="true"
           data-show-export="true"
           data-detail-view="true"
           data-detail-formatter="detailFormatter"
           data-minimum-count-columns="2"
           data-show-pagination-switch="true"
           data-page-list="[10, 15, 20, 50, All]"
           data-pagination="true"
           data-page-size="10"
           data-id-field="id"
           data-show-footer="true"
           data-url="/lesson/getLessons"
    >
        <thead>
        <tr>
            <th data-field="id" data-align="center" >课程编号</th>
            <th data-field="lesson_name" data-align="center">课程名称</th>
            <th data-field="lesson_type" data-align="center" data-sortable="true" >课程类型</th>
            <th data-field="state" data-align="center" data-formatter="stateFormatter">课程状态</th>
        </tr>
        </thead>

    </table>

</div>

<script>

    function detailFormatter(index, row) {
        var html = [];
//    $.each(row, function (key, value) {
//      html.push('<p><b>' + key + ':</b> ' + value + '</p>');
//    });
        html.push('<div class="text-left"><span class="text-primary ">'+ "课程主题描述:" + '</span><div class="text-muted">' + row.lesson_des +'</div></div>' );
        return html.join('');
    }

    function getHeight() {
        return $(window).height() - $('h1').outerHeight(true);
    }

    function responseHandler(res) {
        $.each(res.rows, function (i, row) {
            row.state = $.inArray(row.id, selections) !== -1;
        });
        return res;
    }

    function stateFormatter(value, row, index){
        var icon = row.state === '0' ? 'glyphicon glyphicon-ok lesson_yes' : 'glyphicon glyphicon-remove lesson_no';
        return [
            '<div class=" ' + icon + '"></div> '
        ].join('');
    }
</script>
<script src="/commons/js/lessons.js"></script>