<div id="user">
    <div id="user-control">
        <span id="logout">退出登录</span>
        <span id="personal">修改密码</span>
        <span id="lesson">选课系统</span>
    </div>
</div>
<center>
    <div id="center-div">
        <span id="loaderror" style="font-size: 16px;">修改密码</span>
        <br />

        <div class="login-input" id="login-oldpwd">
            <span>旧密码：</span><input type="password" id="inputoldpwd">
        </div>
        <br />

        <div class="login-input" id="login-newpwd">
            <span>新密码：</span><input type="password" id="inputnewpwd">
        </div>
        <br />

        <div class="login-input" id="login-newpwd2">
            <span>重新输入：</span><input type="password" id="inputnewpwd2" onkeydown="if(event.keyCode==13){$('#changepwd').trigger('click')}">
        </div>
        <br />

        <div>
            <button id="changepwd" type="submit">确定</button>
            <button id="cancel">取消</button>
        </div>
    </div>
</center>


